In [ ]:
import nannyml as nml
from IPython.display import display

# Load synthetic data
reference, analysis, _ = nml.load_synthetic_car_loan_dataset()
display(reference.head())

,car_value,salary_range,debt_to_income_ratio,loan_length,repaid_loan_on_prev_car,size_of_downpayment,driver_tenure,repaid,timestamp,y_pred_proba,y_pred
0,39811.0,40K - 60K €,0.632950,19.0,False,40%,0.212653,1.0,2018-01-01 00:00:00.000,0.99,1
1,12679.0,40K - 60K €,0.718627,7.0,True,10%,4.927549,0.0,2018-01-01 00:08:43.152,0.07,0
2,19847.0,40K - 60K €,0.721724,17.0,False,0%,0.520817,1.0,2018-01-01 00:17:26.304,1.00,1
3,22652.0,20K - 20K €,0.705992,16.0,False,10%,0.453649,1.0,2018-01-01 00:26:09.456,0.98,1
4,21268.0,60K+ €,0.671888,21.0,True,30%,5.695263,1.0,2018-01-01 00:34:52.608,0.99,1

In [ ]:
print(reference.head().to_markdown(tablefmt="grid"))

+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
|    |   car_value | salary_range   |   debt_to_income_ratio |   loan_length | repaid_loan_on_prev_car   | size_of_downpayment   |   driver_tenure |   repaid | timestamp               |   y_pred_proba |   y_pred |
+====+=============+================+========================+===============+===========================+=======================+=================+==========+=========================+================+==========+
|  0 |       39811 | 40K - 60K €    |               0.63295  |            19 | False                     | 40%                   |        0.212653 |        1 | 2018-01-01 00:00:00.000 |           0.99 |        1 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
|  1 |       12679 | 40K - 60K €    |               0.718627 |             7 | True                      | 10%                   |        4.92755  |        0 | 2018-01-01 00:08:43.152 |           0.07 |        0 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
|  2 |       19847 | 40K - 60K €    |               0.721724 |            17 | False                     | 0%                    |        0.520817 |        1 | 2018-01-01 00:17:26.304 |           1    |        1 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
|  3 |       22652 | 20K - 20K €    |               0.705992 |            16 | False                     | 10%                   |        0.453649 |        1 | 2018-01-01 00:26:09.456 |           0.98 |        1 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
|  4 |       21268 | 60K+ €         |               0.671888 |            21 | True                      | 30%                   |        5.69526  |        1 | 2018-01-01 00:34:52.608 |           0.99 |        1 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+

In [ ]:
non_feature_columns = ['timestamp', 'y_pred_proba', 'y_pred', 'repaid']

# Define feature columns
feature_column_names = [
    col for col in reference.columns
    if col not in non_feature_columns
]

calc = nml.DataReconstructionDriftCalculator(
    column_names=feature_column_names,
    timestamp_column_name='timestamp',
    chunk_size=5000
)
calc.fit(reference)
results = calc.calculate(analysis)

In [ ]:
display(results.filter(period='analysis').to_df())

           chunk                                                        \
             key chunk_index start_index end_index          start_date
0       [0:4999]           0           0      4999 2018-10-30 18:00:00
1    [5000:9999]           1        5000      9999 2018-11-30 00:36:00
2  [10000:14999]           2       10000     14999 2018-12-30 07:12:00
3  [15000:19999]           3       15000     19999 2019-01-29 13:48:00
4  [20000:24999]           4       20000     24999 2019-02-28 20:24:00
5  [25000:29999]           5       25000     29999 2019-03-31 03:00:00
6  [30000:34999]           6       30000     34999 2019-04-30 09:36:00
7  [35000:39999]           7       35000     39999 2019-05-30 16:12:00
8  [40000:44999]           8       40000     44999 2019-06-29 22:48:00
9  [45000:49999]           9       45000     49999 2019-07-30 05:24:00

                                    reconstruction_error            \
                 end_date    period       sampling_error     value
0 2018-11-30 00:27:16.848  analysis             0.006996  1.141517
1 2018-12-30 07:03:16.848  analysis             0.006996  1.130636
2 2019-01-29 13:39:16.848  analysis             0.006996  1.138914
3 2019-02-28 20:15:16.848  analysis             0.006996  1.145040
4 2019-03-31 02:51:16.848  analysis             0.006996  1.137563
5 2019-04-30 09:27:16.848  analysis             0.006996  1.249205
6 2019-05-30 16:03:16.848  analysis             0.006996  1.243101
7 2019-06-29 22:39:16.848  analysis             0.006996  1.258147
8 2019-07-30 05:15:16.848  analysis             0.006996  1.228179
9 2019-08-29 11:51:16.848  analysis             0.006996  1.259884

                                                                       \
  upper_confidence_boundary lower_confidence_boundary upper_threshold
0                  1.162505                  1.120528        1.153019
1                  1.151625                  1.109648        1.153019
2                  1.159903                  1.117926        1.153019
3                  1.166029                  1.124052        1.153019
4                  1.158551                  1.116574        1.153019
5                  1.270194                  1.228217        1.153019
6                  1.264090                  1.222113        1.153019
7                  1.279135                  1.237158        1.153019
8                  1.249167                  1.207190        1.153019
9                  1.280872                  1.238895        1.153019


  lower_threshold  alert
0        1.115281  False
1        1.115281  False
2        1.115281  False
3        1.115281  False
4        1.115281  False
5        1.115281   True
6        1.115281   True
7        1.115281   True
8        1.115281   True
9        1.115281   True

In [ ]:
from docs.utils import print_multi_index_markdown
print_multi_index_markdown(results.filter(period='analysis').to_df())

+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
|    | | chunk       |                 |                 |               |                     |                            |            | | reconstruction_error   |           |                               |                               |                     |                     |           |
|    | | key         | | chunk_index   | | start_index   | | end_index   | | start_date        | | end_date                 | | period   | | sampling_error         | | value   | | upper_confidence_boundary   | | lower_confidence_boundary   | | upper_threshold   | | lower_threshold   | | alert   |
+====+===============+=================+=================+===============+=====================+============================+============+==========================+===========+===============================+===============================+=====================+=====================+===========+
| 0  | [0:4999]      | 0               | 0               | 4999          | 2018-10-30 18:00:00 | 2018-11-30 00:27:16.848000 | analysis   | 0.00699616               | 1.14152   | 1.16251                       | 1.12053                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 1  | [5000:9999]   | 1               | 5000            | 9999          | 2018-11-30 00:36:00 | 2018-12-30 07:03:16.848000 | analysis   | 0.00699616               | 1.13064   | 1.15162                       | 1.10965                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 2  | [10000:14999] | 2               | 10000           | 14999         | 2018-12-30 07:12:00 | 2019-01-29 13:39:16.848000 | analysis   | 0.00699616               | 1.13891   | 1.1599                        | 1.11793                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 3  | [15000:19999] | 3               | 15000           | 19999         | 2019-01-29 13:48:00 | 2019-02-28 20:15:16.848000 | analysis   | 0.00699616               | 1.14504   | 1.16603                       | 1.12405                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 4  | [20000:24999] | 4               | 20000           | 24999         | 2019-02-28 20:24:00 | 2019-03-31 02:51:16.848000 | analysis   | 0.00699616               | 1.13756   | 1.15855                       | 1.11657                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 5  | [25000:29999] | 5               | 25000           | 29999         | 2019-03-31 03:00:00 | 2019-04-30 09:27:16.848000 | analysis   | 0.00699616               | 1.24921   | 1.27019                       | 1.22822                       | 1.15302             | 1.11528             | True      |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 6  | [30000:34999] | 6               | 30000           | 34999         | 2019-04-30 09:36:00 | 2019-05-30 16:03:16.848000 | analysis   | 0.00699616               | 1.2431    | 1.26409                       | 1.22211                       | 1.15302             | 1.11528             | True      |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 7  | [35000:39999] | 7               | 35000           | 39999         | 2019-05-30 16:12:00 | 2019-06-29 22:39:16.848000 | analysis   | 0.00699616               | 1.25815   | 1.27914                       | 1.23716                       | 1.15302             | 1.11528             | True      |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 8  | [40000:44999] | 8               | 40000           | 44999         | 2019-06-29 22:48:00 | 2019-07-30 05:15:16.848000 | analysis   | 0.00699616               | 1.22818   | 1.24917                       | 1.20719                       | 1.15302             | 1.11528             | True      |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 9  | [45000:49999] | 9               | 45000           | 49999         | 2019-07-30 05:24:00 | 2019-08-29 11:51:16.848000 | analysis   | 0.00699616               | 1.25988   | 1.28087                       | 1.2389                        | 1.15302             | 1.11528             | True      |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+

In [ ]:
display(results.filter(period='reference').to_df())

           chunk                                                        \
             key chunk_index start_index end_index          start_date
0       [0:4999]           0           0      4999 2018-01-01 00:00:00
1    [5000:9999]           1        5000      9999 2018-01-31 06:36:00
2  [10000:14999]           2       10000     14999 2018-03-02 13:12:00
3  [15000:19999]           3       15000     19999 2018-04-01 19:48:00
4  [20000:24999]           4       20000     24999 2018-05-02 02:24:00
5  [25000:29999]           5       25000     29999 2018-06-01 09:00:00
6  [30000:34999]           6       30000     34999 2018-07-01 15:36:00
7  [35000:39999]           7       35000     39999 2018-07-31 22:12:00
8  [40000:44999]           8       40000     44999 2018-08-31 04:48:00
9  [45000:49999]           9       45000     49999 2018-09-30 11:24:00

                                     reconstruction_error            \
                 end_date     period       sampling_error     value
0 2018-01-31 06:27:16.848  reference             0.006996  1.136408
1 2018-03-02 13:03:16.848  reference             0.006996  1.134478
2 2018-04-01 19:39:16.848  reference             0.006996  1.136076
3 2018-05-02 02:15:16.848  reference             0.006996  1.140114
4 2018-06-01 08:51:16.848  reference             0.006996  1.126078
5 2018-07-01 15:27:16.848  reference             0.006996  1.142018
6 2018-07-31 22:03:16.848  reference             0.006996  1.125146
7 2018-08-31 04:39:16.848  reference             0.006996  1.143206
8 2018-09-30 11:15:16.848  reference             0.006996  1.130954
9 2018-10-30 17:51:16.848  reference             0.006996  1.127026

                                                                       \
  upper_confidence_boundary lower_confidence_boundary upper_threshold
0                  1.157397                  1.115420        1.153019
1                  1.155466                  1.113490        1.153019
2                  1.157065                  1.115088        1.153019
3                  1.161103                  1.119126        1.153019
4                  1.147067                  1.105090        1.153019
5                  1.163006                  1.121029        1.153019
6                  1.146135                  1.104158        1.153019
7                  1.164195                  1.122218        1.153019
8                  1.151942                  1.109965        1.153019
9                  1.148014                  1.106037        1.153019


  lower_threshold  alert
0        1.115281  False
1        1.115281  False
2        1.115281  False
3        1.115281  False
4        1.115281  False
5        1.115281  False
6        1.115281  False
7        1.115281  False
8        1.115281  False
9        1.115281  False

In [ ]:
print_multi_index_markdown(results.filter(period='reference').to_df())

+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
|    | | chunk       |                 |                 |               |                     |                            |            | | reconstruction_error   |           |                               |                               |                     |                     |           |
|    | | key         | | chunk_index   | | start_index   | | end_index   | | start_date        | | end_date                 | | period   | | sampling_error         | | value   | | upper_confidence_boundary   | | lower_confidence_boundary   | | upper_threshold   | | lower_threshold   | | alert   |
+====+===============+=================+=================+===============+=====================+============================+============+==========================+===========+===============================+===============================+=====================+=====================+===========+
| 0  | [0:4999]      | 0               | 0               | 4999          | 2018-01-01 00:00:00 | 2018-01-31 06:27:16.848000 | reference  | 0.00699616               | 1.13641   | 1.1574                        | 1.11542                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 1  | [5000:9999]   | 1               | 5000            | 9999          | 2018-01-31 06:36:00 | 2018-03-02 13:03:16.848000 | reference  | 0.00699616               | 1.13448   | 1.15547                       | 1.11349                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 2  | [10000:14999] | 2               | 10000           | 14999         | 2018-03-02 13:12:00 | 2018-04-01 19:39:16.848000 | reference  | 0.00699616               | 1.13608   | 1.15706                       | 1.11509                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 3  | [15000:19999] | 3               | 15000           | 19999         | 2018-04-01 19:48:00 | 2018-05-02 02:15:16.848000 | reference  | 0.00699616               | 1.14011   | 1.1611                        | 1.11913                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 4  | [20000:24999] | 4               | 20000           | 24999         | 2018-05-02 02:24:00 | 2018-06-01 08:51:16.848000 | reference  | 0.00699616               | 1.12608   | 1.14707                       | 1.10509                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 5  | [25000:29999] | 5               | 25000           | 29999         | 2018-06-01 09:00:00 | 2018-07-01 15:27:16.848000 | reference  | 0.00699616               | 1.14202   | 1.16301                       | 1.12103                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 6  | [30000:34999] | 6               | 30000           | 34999         | 2018-07-01 15:36:00 | 2018-07-31 22:03:16.848000 | reference  | 0.00699616               | 1.12515   | 1.14613                       | 1.10416                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 7  | [35000:39999] | 7               | 35000           | 39999         | 2018-07-31 22:12:00 | 2018-08-31 04:39:16.848000 | reference  | 0.00699616               | 1.14321   | 1.16419                       | 1.12222                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 8  | [40000:44999] | 8               | 40000           | 44999         | 2018-08-31 04:48:00 | 2018-09-30 11:15:16.848000 | reference  | 0.00699616               | 1.13095   | 1.15194                       | 1.10997                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+
| 9  | [45000:49999] | 9               | 45000           | 49999         | 2018-09-30 11:24:00 | 2018-10-30 17:51:16.848000 | reference  | 0.00699616               | 1.12703   | 1.14801                       | 1.10604                       | 1.15302             | 1.11528             | False     |
+----+---------------+-----------------+-----------------+---------------+---------------------+----------------------------+------------+--------------------------+-----------+-------------------------------+-------------------------------+---------------------+---------------------+-----------+

In [ ]:
figure = results.plot()
figure.show()

In [ ]:
figure.write_image('../_static/tutorials/detecting_data_drift/multivariate_drift_detection/pca-reconstruction-error.svg')

In [ ]:
non_feature_columns = ['timestamp', 'y_pred_proba', 'y_pred', 'repaid']

feature_column_names = [
    col for col in reference.columns
    if col not in non_feature_columns
]

from sklearn.impute import SimpleImputer

calc = nml.DataReconstructionDriftCalculator(
    column_names=feature_column_names,
    timestamp_column_name='timestamp',
    chunk_size=5000,
    imputer_categorical=SimpleImputer(strategy='constant', fill_value='missing'),
    imputer_continuous=SimpleImputer(strategy='median')
)
calc.fit(reference)
results = calc.calculate(analysis)