In [ ]:
import nannyml as nml
reference, analysis, _ = nml.load_synthetic_car_loan_dataset()
reference[['timestamp', 'y_pred_proba', 'y_pred', 'repaid']].head()

                 timestamp  y_pred_proba  y_pred  repaid
0  2018-01-01 00:00:00.000          0.99       1     1.0
1  2018-01-01 00:08:43.152          0.07       0     0.0
2  2018-01-01 00:17:26.304          1.00       1     1.0
3  2018-01-01 00:26:09.456          0.98       1     1.0
4  2018-01-01 00:34:52.608          0.99       1     1.0

In [ ]:
print(reference[['timestamp', 'y_pred_proba', 'y_pred', 'repaid']].head().to_markdown(tablefmt="grid"))

+----+-------------------------+----------------+----------+----------+
|    | timestamp               |   y_pred_proba |   y_pred |   repaid |
+====+=========================+================+==========+==========+
|  0 | 2018-01-01 00:00:00.000 |           0.99 |        1 |        1 |
+----+-------------------------+----------------+----------+----------+
|  1 | 2018-01-01 00:08:43.152 |           0.07 |        0 |        0 |
+----+-------------------------+----------------+----------+----------+
|  2 | 2018-01-01 00:17:26.304 |           1    |        1 |        1 |
+----+-------------------------+----------------+----------+----------+
|  3 | 2018-01-01 00:26:09.456 |           0.98 |        1 |        1 |
+----+-------------------------+----------------+----------+----------+
|  4 | 2018-01-01 00:34:52.608 |           0.99 |        1 |        1 |
+----+-------------------------+----------------+----------+----------+

In [ ]:
reference[[
    'car_value', 'salary_range', 'debt_to_income_ratio', 'loan_length', 'repaid_loan_on_prev_car', 'size_of_downpayment', 'driver_tenure'
]].head()

,car_value,salary_range,debt_to_income_ratio,loan_length,repaid_loan_on_prev_car,size_of_downpayment,driver_tenure
0,39811.0,40K - 60K €,0.632950,19.0,False,40%,0.212653
1,12679.0,40K - 60K €,0.718627,7.0,True,10%,4.927549
2,19847.0,40K - 60K €,0.721724,17.0,False,0%,0.520817
3,22652.0,20K - 20K €,0.705992,16.0,False,10%,0.453649
4,21268.0,60K+ €,0.671888,21.0,True,30%,5.695263

In [ ]:
print(
    reference[[
        'car_value', 'salary_range', 'debt_to_income_ratio', 'loan_length', 'repaid_loan_on_prev_car', 'size_of_downpayment', 'driver_tenure'
    ]].head().to_markdown(tablefmt="grid")
)

+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+
|    |   car_value | salary_range   |   debt_to_income_ratio |   loan_length | repaid_loan_on_prev_car   | size_of_downpayment   |   driver_tenure |
+====+=============+================+========================+===============+===========================+=======================+=================+
|  0 |       39811 | 40K - 60K €    |               0.63295  |            19 | False                     | 40%                   |        0.212653 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+
|  1 |       12679 | 40K - 60K €    |               0.718627 |             7 | True                      | 10%                   |        4.92755  |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+
|  2 |       19847 | 40K - 60K €    |               0.721724 |            17 | False                     | 0%                    |        0.520817 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+
|  3 |       22652 | 20K - 20K €    |               0.705992 |            16 | False                     | 10%                   |        0.453649 |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+
|  4 |       21268 | 60K+ €         |               0.671888 |            21 | True                      | 30%                   |        5.69526  |
+----+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+

In [ ]:
estimator = nml.CBPE(
    y_pred_proba='y_pred_proba',
    y_pred='y_pred',
    y_true='repaid',
    timestamp_column_name='timestamp',
    metrics=['roc_auc'],
    chunk_size=5000,
    problem_type='classification_binary',
)

estimator.fit(reference)
results = estimator.estimate(analysis)
metric_fig = results.filter(period='analysis').plot()
metric_fig.write_image(file=f"../_static/tutorials/data_requirements/data-requirements-time-based-x-axis.svg")

In [ ]:
estimator2 = nml.CBPE(
    y_pred_proba='y_pred_proba',
    y_pred='y_pred',
    y_true='repaid',
    metrics=['roc_auc'],
    chunk_size=5000,
    problem_type='classification_binary',
)

estimator2.fit(reference)
results = estimator2.estimate(analysis)
metric_fig2 = results.filter(period='analysis').plot()
metric_fig2.write_image(file=f"../_static/tutorials/data_requirements/data-requirements-index-based-x-axis.svg")